if u get caught using this in school when you're not supposed to, that is not my fault. i do not condone using aurora for bad. only use when a teacher gives you freetime or says its ok to play games. 
good ex: freetime after your work is done. 
bad ex: using while you have work to do, during assesments, etc.

once again, I DO NOT CONDONE MISUSE OF THIS GUI. USE IT THE RIGHT WAY.


AND IT IS NOT MY FAULT IF U GET CAUGHT USING AURORA WHEN YOU AREN'T SUPPOSED TO.
